<template>
  <v-container class="main">
    <v-row class="fill-height">
      <v-col cols="2" class="fill-height">
        <!-- one right window -->
        <defaultCard height="100%" cardTitle="שונות"></defaultCard>
      </v-col>
      <v-col cols="10" class="main-content">
        <!-- two left windows -->
        <defaultCard height="60%" class="mb-3" cardTitle=""></defaultCard>
        <defaultCard height="auto" cardTitle="דואר נכנס" class="flex-grow-1"></defaultCard>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import defaultCard from "./defaultCard.vue";
import sidenavOptions from "./sidenavOptions";

export default {
  components: {
    defaultCard,
    sidenavOptions
  },
};
</script>

<style>
.main {
  height: 75%;
}
.main-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
</style>