<template>
  <v-card :height="height">
    <v-system-bar color="pink lighten-2 py-4" dark>
      <span>{{cardTitle}}</span>
    </v-system-bar>
    <v-content class="ml-2">
        <slot :name="slotname">

        </slot>
    </v-content>
  </v-card>
</template>

<script>
export default {
  name: "defaultCard",
  props: ["height", "cardTitle","slotName"]
};
</script>

<style>
</style>