<template>
  <v-container>
    <v-row v-for="option in options" :key="option.title">
      <v-col>{{option.title}}</v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: function() {
    return {
      options: [
        { title: "דואר נכנס", route: "/inbox" },
        { title: "דואר יוצא", route: "/sent" }
      ]
    };
  }
};
</script>

<style>
</style>